problems.txt
__pycache__
main.html
main.js
package-lock.json
package.json
parserLatex.py 
tokenizer.py 
full-tokenizer-test.py
.pytest_cache
comments.py
full-tokenizer.py
main.css
.DS_Store
app-flask.py